*{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
body{
  background-color: #3b404e;
}
p{
  background-color: ivory;
}
ul{
  list-style: none;
}
a:hover{
  color: #0065FC;
  text-decoration: none;
}
a{
  color: black;
  text-decoration: none;
}
button{
  outline: none;
  cursor:pointer;
}
span{
  white-space:pre;
}
h2{
  font-size:1.3em;
}

.blue{
  color:#0065FC;
}
.greyLight{
  color:#D9D9D9;
}
.bgBlue{
  background-color: #0065FC;
}
.bgBlueLight{
  background-color: #DEEBFF;
}
.bgGreyLight{
  background-color: #e6e5e5;
}
.bdGreyLight{
  border-color: #e6e5e5;
}


/* WRAPPER */
.wrapper{
  max-width: 1440px;
  margin:0 auto;
  padding: 0 50px;
}
header.wrapper{
  background-color: #a8a8aa;
}
#main-search.wrapper{
  background-color: #466b8d;
}
#main-accommodation.wrapper{
  background-color: #4e789e;
}
#main-activity.wrapper{
  background-color: #5488b8;
}
footer.wrapper{
  background-color: #444446;
}


/* GRID */
#main-accommodation.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap:34px;
  grid-template-areas:
      "accommodation accommodation popular";
}
#accommodation {
  grid-area: accommodation;
}
#popular {
  grid-area: popular;
}

#accommodation.grid {
  display: grid;
  grid-gap:28px;
  grid-template-areas:
      "title title title"
      "cardH1 cardH2 cardH3"
      "cardH4 cardH5 cardH6"
      "displayMore displayMore displayMore";
  background-color: brown;
  padding:35px 35px 35px 35px;
  border-radius: 20px 20px 20px 20px;
}
#accommodation h2 {
  grid-area: title;
}
#cardH1 {
  grid-area: cardH1;
}
#cardH2 {
  grid-area: cardH2;
}
#cardH3 {
  grid-area: cardH3;
}
#cardH4 {
  grid-area: cardH4;
}
#cardH5 {
  grid-area: cardH5;
}
#cardH6 {
  grid-area: cardH6;
}
#accommodation a {
  grid-area: displayMore;
}

footer.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
      "about ourAccommodations assistance";
}
#footer-about {
  grid-area: about;
}
#footer-accommodation {
  grid-area: ourAccommodations;
}
#footer-assistance {
  grid-area: assistance;
}

/*HEADER*/
header{
  display: flex;
}
header > img{
  margin-right: auto;
  width:90px;
  padding-top: 45px;
}
nav ul{
  display:flex;
  width: 350px;
}
header nav ul li {
  width: 50%;
  background-color: peru;
}
header a {
  display:flex;
  justify-content: center;
  align-items:flex-end;
  height: 70px;
  background-color: pink;
}
header nav ul li a:focus {
  color:#0065FC;
  border-top: 2px solid #0065FC;
}
header > a{
  width: 120px;
  font-weight: bold;
}



/*-- SEARCH */
#main-search h1{
  font-size: 20px;
  font-weight:bold;
  background-color: rgb(231, 192, 93);
}
#main-search h2{
  font-weight:lighter;
  margin-top: 10px;
  font-size: 16px;
  background-color: rgb(231, 192, 93);
}
#divSearch{
  display:flex;
  margin-top: 20px;
}
#icoMap{
  display: flex;
  align-items:center;
  width: 50px;
  height: 50px;
  border-radius: 15px 0 0 15px;
}
#icoMap i{
  font-size: 18px;
  margin-left:17px;
}
#txtSearch{
  font-weight:bold;
  width: 70%;
  max-width: 235px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  padding-left: 15px;
  padding-right: 15px;
}
#txtSearch:focus-within{
outline: none;
}
#btnSearch:hover{
  border: 2px solid white;
  background-color: #0065FC;
  color:black;
}
#btnSearch{
  letter-spacing: 1.25px;
  font-weight: bold;
  color:white;
  border-radius: 0 15px 15px 0px;
  border: none;
  width: 136px;
  height: 50px;
}
#btnSearch-sm{
  display:none;
}
#divFilter{
  display:flex;
  margin-top: 30px;
  background-color: lightcoral;
}
#lblFilter{
  font-weight: bold;
  margin-right: 25px;
  padding-top: 15px;
}
#divFilter li:hover{
  background-color:#0065FC;
  color:white;
}
#divFilter li {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid #e6e5e5;
  border-radius: 35px;
  margin-right:32px;
  margin-bottom:10px;
  padding-left: 58px;
  padding-right: 22px;
  font-weight: bold;
  height: 45px;
  position: relative;
}
#divFilter li .filter-icon {
  height:45px;
  width:45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color:#DEEBFF;
  margin-right: 10px;
  border:2px solid #DEEBFF;
  position:absolute;
  left:-1px;
}
#divInfo{
  display: flex;
  margin-top: 35px;
  background-color: mediumspringgreen;
}
#divInfo .icoInfo{
  width: 23px;
  height: 23px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 50%;
}
#divInfo .icoInfo i{
  font-size:small;
  margin-left: 9px;
  margin-right: 9px;
}
#divInfo span{
  white-space: normal;
  margin-left:12px;
}


/*-- ACCOMMODATION */
#main-accommodation{
  margin-top:50px;
}
#main-accommodation h2{
  font-weight:bold;
  color: black;
}
#main-accommodation h4{
  margin-top: 40px;
  font-size: 0.7em;
}
#main-accommodation a{
  font-size:1.2em;
  font-weight:bold;
}
.accommodation-card{
  width: 100%;
  height: 100%;
  max-width:230px;
  min-width:180px;
  max-height:171px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px #c2c2c2;
  background-color: white;
  padding: 5px 5px 0px 5px;
}
.cardContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 33%;
  margin-top:8px;
  margin-left:8px;
}
.accommodation-card .imgContainer{
  border-radius: 15px 15px 0 0;
  width:100%;
  height: 60%;
  background-color: brown;
}
.accommodation-card img{
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width:100%;
  height: 100%;
}
.accommodation-card p{
  font-size: 13px;
}
.accommodation-card p b{
  font-size: 13px;
}
.accommodation-card i{
  font-size: 12px;
  letter-spacing: -3px;
}


/*@MediaQuery*/

/*@GRID*/
@media all and (max-width: 1024px){
  #main-accommodation.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "popular" 
        "accommodation";
  }
}
@media all and (min-width: 1025px) and (max-width: 1240px){
  #accommodation.grid{
    display: grid;
    grid-gap:28px;
    grid-template-areas:
        "title title"
        "cardH1 cardH2"
        "cardH3 cardH4"
        "cardH5 cardH6"
        "displayMore displayMore";
  }
}
@media all and (min-width: 900px) and (max-width: 1024px){
  #accommodation.grid{
    display: grid;
    grid-gap:28px;
    grid-template-areas:
        "title title title"
        "cardH1 cardH2 cardH3"
        "cardH4 cardH5 cardH6"
        "displayMore displayMore displayMore";
  }
}
@media all and (min-width: 580px) and (max-width: 899px){
  #accommodation.grid{
    display: grid;
    grid-gap:28px;
    grid-template-areas:
        "title title"
        "cardH1 cardH2"
        "cardH3 cardH4"
        "cardH5 cardH6"
        "displayMore displayMore";
  }
}
@media all and (max-width: 579px){
  #accommodation.grid{
    display: grid;
    grid-template-areas:
        "title"
        "cardH1"
        "cardH2"
        "cardH3"
        "cardH4"
        "cardH5"
        "cardH6"
        "displayMore";
    padding: 35px 0px 0px 0px;
    border-radius: 0px;
  }
}

/*@WRAPPER*/
@media all and (max-width: 1023px){
  .wrapper{
    padding: 0 30px;
  }
  header.wrapper{
    background-color: #c0be5c;
  }
  #main-search.wrapper{
    background-color: #8d8246;
  }
  #main-accommodation.wrapper{
    background-color: #9e964e;
  }
  #main-activity.wrapper{
    background-color: #b8ae54;
  }
  footer.wrapper{
    background-color: #444446;
  }
}
@media all and (max-width: 649px){
  .wrapper{
    min-width: 320px;
    padding: 0 20px;
  }
  header.wrapper{
    padding: 25px 0px 0px 0px;
    background-color: #95c05c;
  }
  #main-search.wrapper{
    background-color: #668d46;
  }
  #main-accommodation.wrapper{
    background-color: #799e4e;
  }
  #main-activity.wrapper{
    background-color: #92b854;
  }
  footer.wrapper{
    background-color: #444446;
  }
}

/*@HEADER*/
@media all and (max-width: 649px){
  header{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
  }
  header > img{
    padding-top: 0px;
    margin-left:20px;
  }
  header nav{
    margin-top:30px;
    width: 100%;
    order:3;
  }
  nav ul{
    display: flex;
    width: auto;
  }
  header nav ul li {
    text-align: center;
    width: 50%;
  }
  header a {
    height: auto;
  }
  header nav ul li a {
    justify-content: center;
    align-items: normal;
    height: 35px;
    width: 100%;
    padding: 0px 0px 10px 0px;
    background-color: salmon;
  }
  header nav ul li a:focus{
    color:#0065FC;
    border-top:none;
    border-bottom: 3px solid #0065FC;
  }
  header > a{
    width: auto;
    order:2;
    background-color: darkgoldenrod;
    padding-bottom: 0px;
    margin-right: 20px;
  }
}

/*@SEARCH*/
@media all and (max-width: 425px){
  #divSearch{
    margin-top: 40px;
  }
  #btnSearch{
    display:none;
  }
  #btnSearch-sm:hover{
    border: 2px solid white;
    background-color: #0065FC;
    color:black;
  }
  #btnSearch-sm{
    display: inline;
    color:white;
    border-radius: 35%;
    border: none;
    width: 50px;
    height: 50px;
  }
  #btnSearch-sm i{
    font-size: 16px;
  }
}

/*@FILTER*/
@media all and (max-width: 496px){
  #divFilter{
    display:inline-block;
  }
  #lblFilter{
    display: inline-block;
    margin-bottom: 20px;
  }
  #divFilter li{
    margin-right:5px;
  }
}

/*@ACCOMMODATION*/
@media all and (max-width: 579px){
  #accommodation .accommodation-card {
    max-width: none;
  }
}